/* app css stylesheet */

footer {
	margin-top: 50px;
}

.input-group {
	width: 100%;
	margin-bottom: 20px;
}

.margin-bottom {
	margin-bottom: 20px;
}

.margin-top {
	margin-top: 20px;
}

.navbar-fixed-top + * {
	margin-top: 70px;
}

.btn-default {
	margin-top: 10px;
}

.list >:nth-child(odd) {
	background-color: #fafafa;
}

.list >:nth-child(even) {
	background-color: #f0f0f0;
}

.selectable {
	cursor: pointer;
}

::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.pull-right {
	margin-right: 20px;
}

.btn-group.yes-no .btn {
	width: 60px;
}

/* items */

.item {
	height: 100px;
}

@media screen and (max-width: 500px) {
	.item .info > * {
		width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.item-image > img {
	margin: 18px;
	width: 64px;
	height: 64px;
}

.item .btn-group-sm {
	line-height: 100px;
}
