<div class="clearfix margin-bottom">
	<a ng-href="#/groups/create" class="btn btn-info pull-right">Create new group</a>
</div>
<div class="list">
	<div class="item" ng-repeat="group in groups">
		<a class="item-image pull-left" ng-href="#/groups/{{group._id}}">
			<img ng-src="{{getGroupImage(group)}}" />
		</a>
		<div class="info pull-left">
			<h4 class="name" title="{{group.name}}">{{group.name}}</h4>
		</div>
		<div class="btn-group-sm pull-right">
			<div ng-show="!removeGroup" ng-hide="removeGroup">
				<a ng-href="#/groups/edit/{{group._id}}" class="btn btn-success"> <i class="fa fa-pencil"></i> </a>
				<a ng-click="removeGroup=group._id" class="btn btn-danger"> <i class="fa fa-close"></i> </a>
			</div>
			<div ng-show="removeGroup" ng-hide="!removeGroup">
				<span>Are you sure?</span>
				<a ng-click="remove(group._id)" class="btn btn-success">Yes</a>
				<a ng-click="removeGroup=null" class="btn btn-danger">No</a>
			</div>
		</div>
	</div>
</div>
